# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Intellij\demo-student-oop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
